<!DOCTYPE html>

<html lang="pt-br">
    <head>

        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit-no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.css"/>
        <link rel="stylesheet" href="css/style.css"/>
        <title>Tema 1</title>


    </head>
    <body>
        
        <div class="container">
        
            <div class="row my-5 align-items-center">
                <div class="col-md-8 col-sm-12">
                    <h1>Hello World</h1>
                    <p class="lead">Template com WP + Bootstrap</p>
                </div>
                <div class="col-md-4 col-sm-12">
                     <form class="form-inline">
                         <div class="form-group">
                             <input type="text" class="form-control" placeholder="O que procuramos?">
                             <div class="input-group-append">
                                 <button class="btn btn-my-color-2" type="button" style='color:white'>Buscar</button>
                             </div>
                         </div>
                     </form>
                </div> 
            </div>

            <div class="row">
                <div class="col mb-5">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-my-color-2 rounded">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" dara-target="#meuNavbar">
                            <span class="navbar-toggler-icon"> </span>
                        </button>
                        <div class="collapse navbar-collapse" id="meuNavbar">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Sobre</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Group</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Group</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Group</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            
            <div class='row'>
                <div class="col-md-8 col-sm-12">
                    
                    
                    <div class="blog-post">
                        <h3 class='mb-3 pb-2 border-bottom'><a href="#">Lorem ipsum dolor sit amet</a></h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 mb-3">
                                <a href="#"><img src="assets/img.jpg" class='img-fluid rounded' alt="Imagem"/></a>
                            </div>
                            <div class="col-lg-6 col-md-12 mb-3">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo natus quod nihil, cupiditate sapiente doloremque neque voluptatem officia labore itaque inventore dignissimos error. Blanditiis, exercitationem, ullam ipsum sed laborum iste repellat nulla mollitia dolorum eaque, iusto officiis itaque! Quam adipisci nostrum amet obcaecati. Rerum ratione nobis aliquid, voluptatem minus neque.</p>
                            </div>
                        </div>
                        <p class="text-muted">Publicado em: <span class='badge badge-info'> 04/01/2019</span></p>
                    </div>
                    <div class="blog-post">
                            <h3 class='mb-3 pb-2 border-bottom'><a href="#">Lorem ipsum dolor sit amet</a></h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 mb-3">
                                    <a href="#"><img src="assets/img.jpg" class='img-fluid rounded' alt="Imagem"/></a>
                                </div>
                                <div class="col-lg-6 col-md-12 mb-3">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo natus quod nihil, cupiditate sapiente doloremque neque voluptatem officia labore itaque inventore dignissimos error. Blanditiis, exercitationem, ullam ipsum sed laborum iste repellat nulla mollitia dolorum eaque, iusto officiis itaque! Quam adipisci nostrum amet obcaecati. Rerum ratione nobis aliquid, voluptatem minus neque.</p>
                                </div>
                            </div>
                            <p class="text-muted">Publicado em: <span class='badge badge-info'> 04/01/2019</span></p>
                    </div>
                    <div class="blog-post">
                            <h3 class='mb-3 pb-2 border-bottom'><a href="#">Lorem ipsum dolor sit amet</a></h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 mb-3">
                                    <a href="#"><img src="assets/img.jpg" class='img-fluid rounded' alt="Imagem"/></a>
                                </div>
                                <div class="col-lg-6 col-md-12 mb-3">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo natus quod nihil, cupiditate sapiente doloremque neque voluptatem officia labore itaque inventore dignissimos error. Blanditiis, exercitationem, ullam ipsum sed laborum iste repellat nulla mollitia dolorum eaque, iusto officiis itaque! Quam adipisci nostrum amet obcaecati. Rerum ratione nobis aliquid, voluptatem minus neque.</p>
                                </div>
                            </div>
                            <p class="text-muted">Publicado em: <span class='badge badge-info'> 04/01/2019</span></p>
                    </div> 
                    <div class="blog-post">
                            <h3 class='mb-3 pb-2 border-bottom'><a href="#">Lorem ipsum dolor sit amet</a></h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 mb-3">
                                    <a href="#"><img src="assets/img.jpg" class='img-fluid rounded' alt="Imagem"/></a>
                                </div>
                                <div class="col-lg-6 col-md-12 mb-3">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo natus quod nihil, cupiditate sapiente doloremque neque voluptatem officia labore itaque inventore dignissimos error. Blanditiis, exercitationem, ullam ipsum sed laborum iste repellat nulla mollitia dolorum eaque, iusto officiis itaque! Quam adipisci nostrum amet obcaecati. Rerum ratione nobis aliquid, voluptatem minus neque.</p>
                                </div>
                            </div>
                            <p class="text-muted">Publicado em: <span class='badge badge-info'> 04/01/2019</span></p>
                    </div>
                    
                    
                    <div class="blog-pagination mb-5">
                        <a href="#" class="btn btn-outline-primary">Mais antigos</a>
                        <a href="#" class="btn btn-outline-primary">Mais novos</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">

                    <div class="card mb-4">
                        <h5 class='card-header'>
                            Categorias
                        </h5>
                        <div class="card-body">
                            <ul>
                                <li><a href="#">Projetos</a></li>
                                <li><a href="#">Novidades</a></li>
                                <li><a href="#">Planos</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <h5 class='card-header'>
                            Novo
                        </h5>
                        <div class="card-body">
                            <ul>
                                <li><a href="#">Novo 1</a></li>
                                <li><a href="#">Novo 2</a></li>
                                <li><a href="#">Novo 3</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <h5 class='card-header'>
                            Links
                        </h5>
                        <div class="card-body">
                            <ul>
                                <li><a href="#">Link 1</a></li>
                                <li><a href="#">Link 2</a></li>
                                <li><a href="#">Link 3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>

        <div class="w-100 bg-secondary border-top border-dark mt-5">
            <div class="container">
                <div class="row">
                    <div class="col py-5 text-white text-center">
                        <h3>Meu primeiro tema de WorldPress</h3>
                        <p class='mb-0'>Feito por mim com muita dedicação</p>
                    </div>
                </div>
            </div>
        </div>

    </body>

    <!-- Scripts -->
    <script src="js/jquery.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.js"></script>

</html>